{% extends 'base.html' %}

{% block title %} Auth {% endblock title %}

{% block styles %}

{% endblock styles %}

{% block main %}
    <div class="container-fluid d-flex col-12 justify-content-between p-1" style="height: 100vh; width: 100vw!important;">

    <div class="col-6" id="signup div">
        <div class="container-fluid h-100 d-flex justify-content-center align-items-center" style="background-color: black; color:white;">
            <h1 class="text-center mx-5" style="word-break: break-word !important; white-space: normal !important;">
                <p class="mb-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="257" height="257" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                      <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"/>
                      <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"/>
                    </svg>
                </p>
                <p class="mb-3" style="font-size: 69px;">Not registered yet?</p>
                <p class="mt-4" style="font-size:33px;">You can sign up here!</p>
            </h1>
        </div>
    </div>
    <div class="col-6" id="login div" style="background-color: white; color:black;">
        <div class="container-fluid d-flex justify-content-center align-items-center h-100" style="background-color: white; color:black;">
            <ul class="navbar-nav">
                <li class="my-5">
                   <div class="container-fluid p-0 d-flex justify-content-center" id="login container">
                        <form method="POST" id="login form" class="shadow shadow-lg">
                            {% csrf_token %}
                            <fieldset class="border border-2 border-dark rounded d-flex align-items-center justify-content-center" style="height:457px; width: 457px;">
                                    <ul class="navbar-nav d-flex justify-content-center">
                                        <legend class="text-center mb-5" style="font-size: 27px; line-height: 30px; font-weight: 600; text-transform: uppercase; color:black;">Log In</legend>
                                        {% for field in loginForm %}
                                            <l1>
                                                <div class="form-floating">
                                                    {{ field }}
                                                    <label for="{{ field.id }}">{{ field.label }}</label>
                                                </div>
                                                <br><br>
                                            </l1>
                                        {% endfor %}
                                        <li class="mt-4 text-center">
                                            <input type="submit" class="btn btn-outline-dark" value="Submit">
                                        </li>
                                    </ul>
                            </fieldset>
                        </form>
                        {% if errors is not None %}
                            {% for key, error in errors.items %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
{% endblock main %}

{% block scripts %}
    <script defer>
        document.body.addEventListener('click', function(event){
            console.log("mouse click");
        })
        signupDiv = document.getElementById("signup div");
        signupInitial = signupDiv.innerHTML;
        loginDiv = document.getElementById("login div");
        loginInitial = loginDiv.innerHTML;

        signupDiv.onmouseenter=function(event){
            {#event.preventDefault();#}
            console.log("heree");

           signupDiv.innerHTML='<div class="container-fluid d-flex justify-content-center align-items-center h-100" style="background-color: white; color:black;">'+
            '<ul class="navbar-nav">'+
                '<li class="my-5">'+
                   '<div class="col-12 container-fluid p-0 d-flex justify-content-center">'+
                        '<form method="POST" class="shadow shadow-lg" id="signup form">'+
                            '{% csrf_token %}'+
                            '<fieldset class="form-group border border-2 border-dark px-5 rounded d-flex align-items-center justify-content-center" style="height:700px; width: 597px;">'+
                                    '<ul class="navbar-nav d-flex justify-content-center px-0">'+
                                        '<legend class="text-center mb-5" style="font-size: 27px; line-height: 30px; font-weight: 600; text-transform: uppercase; color:black;">Sign Up</legend>'+
                                        '{% for field in signupForm %}'+
                                            '<l1 class="my-0">'+
                                                '<div class="form-floating my-0">'+
                                                    '{{ field }}'+
                                                    '<label for="{{ field.id }}">{{ field.label }}</label>'+
                                                '</div>'+
                                                '<br><br>'+
                                            '</l1>'+
                                        '{% endfor %}'+
                                        '<li class="mt-2 text-center"><input type="submit" class="btn btn-outline-dark" value="Submit"></li>'+
                                    '</ul>'+
                            '</fieldset>'+
                        '</form>'+
                        '{% if errors is not None %}'+
                            '{% for key, error in errors.items %}'+
                                '{{ error }}'+
                            '{% endfor %}'+
                        '{% endif %}'+
                    '</div>'+
                '</li>'+
            '</ul>'+
        '</div>';

            loginDiv.innerHTML = '<div class="container-fluid h-100 d-flex justify-content-center align-items-center" style="background-color: black; color:white;">'+
            '<h1 class="text-center mx-4" style="word-break: break-word !important; white-space: normal !important;">'+
                '<p class="mb-0">'+
                    '<svg xmlns="http://www.w3.org/2000/svg" width="257" height="257" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">'+
                      '<path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>'+
                      '<path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>'+
                    '</svg>'+
                '</p>'+
                '<p class="mb-3" style="font-size: 69px;">Already registered?</p>'+
                '<p class="mt-4" style="font-size:33px;">You can log in here!</p>'+
            '</h1>'+
        '</div>';
            {#signupDiv.style.zIndex = 99;#}
            {#loginDiv.style.zIndex = 0;#}

            event.stopPropagation();
          }

        loginDiv.onmouseenter = function(event){
            {#event.preventDefault();#}
            event.stopPropagation();

            loginDiv.innerHTML="";
            loginDiv.innerHTML=''+
                '<div class="container-fluid d-flex justify-content-center align-items-center h-100" style="background-color: white; color:black;">'+
            '<ul class="navbar-nav">'+
                '<li class="my-5">'+
                   '<div class="col-12 container-fluid p-0 d-flex justify-content-center" id="login container">'+
                        '<form method="POST" id="login form" class="shadow shadow-lg">'+
                            '{% csrf_token %}'+
                            '<fieldset class="border border-2 border-dark rounded d-flex align-items-center justify-content-center" style="height:457px; width: 457px;">'+
                                    '<ul class="navbar-nav d-flex justify-content-center">'+
                                        '<legend class="text-center mb-5" style="font-size: 27px; line-height: 30px; font-weight: 600; text-transform: uppercase; color:black;">Log In</legend>'+
                                        '{% for field in loginForm %}'+
                                            '<l1>'+
                                                '<div class="form-floating">'+
                                                    '{{ field }}'+
                                                    '<label for="{{ field.id }}">{{ field.label }}</label>'+
                                                '</div>'+
                                                '<br><br>'+
                                            '</l1>'+
                                        '{% endfor %}'+
                                        '<li class="mt-4 text-center">'+
                                            '<input type="submit" class="btn btn-outline-dark" value="Submit">'+
                                        '</li>'+
                                    '</ul>'+
                            '</fieldset>'+
                        '</form>'+
                        '{% if errors is not None %}'+
                            '{% for key, error in errors.items %}'+
                                '{{ error }}'+
                            '{% endfor %}'+
                        '{% endif %}'+
                    '</div>'+
                '</li>'+
            '</ul>'+
        '</div>'+
                '';

        form = document.getElementById('login form');
        form.addEventListener('mouseover', function (event){
            console.log("mouse hover");
         })
        form.addEventListener('click', function(event){
            console.log("mouse click");
         })

        document.body.addEventListener('click', function(event){
            console.log("mouse click");
         })

            signupDiv.innerHTML = '<div class="container-fluid h-100 d-flex justify-content-center align-items-center" style="background-color: black; color:white;">'+
            '<h1 class="text-center mx-5" style="word-break: break-word !important; white-space: normal !important;">'+
                '<p class="mb-0">'+
                    '<svg xmlns="http://www.w3.org/2000/svg" width="257" height="257" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">'+
                      '<path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"/>'+
                      '<path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"/>'+
                    '</svg>'+
                '<p class="mb-3" style="font-size: 69px;">Not registered yet?</p>'+
                '<p class="mt-4" style="font-size:33px;">You can sign up here!</p>'+
            '</h1>'+
        '</div>';
            {#loginDiv.style.zIndex = -1;#}
            {#signupDiv.style.zIndex = 0;#}

         }

    </script>
{% endblock scripts %}
